.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8%;
}
.col-2 {
    width: 16%;
}
.col-3 {
    width: 24%;
}
.col-4 {
    width: 32%;
}
.col-5 {
    width: 40%;
}
.col-6 {
    width: 48%;
}
.col-7 {
    width: 56%;
}
.col-8 {
    width: 64%;
}
.col-9 {
    width: 72%;
}
.col-10 {
    width: 80%;
}
.col-11 {
    width: 88%;
}
.col-12 {
    width: 96%;
}

aside {
    display: flex;
    justify-content: flex-end;
}

main {
    height: 100%;
    max-width: 96%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-1, .row-2 {
    width: 100%;
    display: flex;
}
