@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .card {
        height: 225px;
        width: 250px;
    }

    .row-1 {
        height: 200px;
    }

    .modal-content {
        height: 30%;
    }

    .stats {
        width: 150px;
    }

    .modal-description {
        margin-top: 800px;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .card {
        height: 135px;
        width: 135px;
    }

    .stats {
        width: 175px;
    }

    .modal-button {
        margin-top: 45px;
    }
    
    .modal-description {
        margin-top: 0px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .stats {
        width: 175px;
    }

    .card {
        width: 250px;
        height: 175px;
    }

    .modal-content {
        height: 36%;
    }

    .modal-description {
        margin-top: 550px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .stats {
        width: 175px;
    }

    .modal-button {
        margin-top: 135px;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : portrait) {
    .card {
        height: 200px;
        width: 275px;
    }

    .row-1 {
        height: 200px;
    }

    .modal-content {
        height: 23%;
    }

    .stats {
        width: 175px;
    }

    .modal-description {
        margin-top: 500px;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : landscape) {
    .card {
        height: 90px;
        width: 125px;
    }

    .stats {
        width: 175px;
        height: 30px;
    }

    .modal-button {
        margin-top: 45px;
    }
    
    .modal-description {
        margin-top: 0px;
    }
}
