body {
    height: 100%;
    margin: auto;
    display: flex;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

header {
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
} 

aside div {
    border-radius: 15px;
}

aside p {
    color: white;
    font-family: 'Baloo Tammudu 2', serif;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 6px rgb(192,192,192)
}

.logo-container {
    margin: auto;
    height: fit-content;
}

.stats-box {
    border: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
    margin-right: 10px;
}

.card {
    width: 150px;
    height: 150px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .2);
    margin: 5px;
    transition: 100ms linear;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 30px rgba(255,255,255,.5);
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 5px;
}

p, h1 {
    color: white;
    font-family: 'Baloo Tammudu 2', serif;
    justify-content: center;
    display: flex;
}

.rorschach-logo {
    max-width: 65%;
}

.card-back {
    background-image: url('../images/back-card.jpg');
}

.left-starter {
    background-image: url('../images/left-starter.jpg');
}

.right-starter {
    background-image: url('../images/right-starter.jpg');
}

.left-blood {
    background-image: url('../images/left-blood.jpg');
}

.right-blood {
    background-image: url('../images/right-blood.jpg');
}

.left-latency {
    background-image: url('../images/left-latency.jpg');
}

.right-latency {
    background-image: url('../images/right-latency.jpg');
}

.left-bat {
    background-image: url('../images/left-bat.jpg');
}   

.right-bat {
    background-image: url('../images/right-bat.jpg');
}

.left-sexual {
    background-image: url('../images/left-sexual.jpg');
}

.right-sexual {
    background-image: url('../images/right-sexual.jpg');
}

.left-mother {
    background-image: url('../images/left-mother.jpg');
}

.right-mother {
    background-image: url('../images/right-mother.jpg');
}

.left-animal {
    background-image: url('../images/left-animal.jpg');
}

.right-animal {
    background-image: url('../images/right-animal.jpg');
}

.left-human {
    background-image: url('../images/left-human.jpg');
}

.right-human {
    background-image: url('../images/right-human.jpg');
}

.left-finale {
    background-image: url('../images/left-finale.jpg');
}

.right-finale {
    background-image: url('../images/right-finale.jpg');
}

.how-to-play {
    background-image: url("../images/how-to-play.png");
    height: 50%;
    width: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.hidden {
    display: none;
} 

.modal-overlay, .start-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .95);
}

.modal-content {
    border: 1px solid white;
    width: 50%;
    height: 50%;
    background-color: black;
}

.modal-content > p {
    margin-top: 125px;
    color: white;
    font-size: 25px;
}

.modal-button {
    display: flex;
    margin: auto;
    width: 95%;
    height: 15%;
    justify-content: center;
    font-family: 'Baloo Tammudu 2', serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 210px;
    background-color: white;
}

.start-modal {
    flex-wrap: wrap;
}

.modal-description {
    width: 100%;
    margin-top: 100px;
}


