body {
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
} 

aside div {
    border-radius: 15px;
}

aside p {
    color: white;
    font-family: 'Baloo Tammudu 2', serif;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 6px rgb(192,192,192)
}

.logo-container {
    margin: auto;
    height: fit-content;
    justify-content: flex-start;
}

.stats-box {
    border: 1px solid gray;
}

.card {
    width: 12vw;
    height: 12vw;
    padding: 0px;
    position: relative;
    transition: 100ms linear;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .2);
    margin: 0.2rem;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 5px;
}

p, h5 {
    color: white;
}

.rorschach-logo {
    max-width: 20vw;
}

.card-back {
    background-image: url('../images/rorschach.jpeg');
}

.left-starter {
    background-image: url('../images/left-starter.jpg');
}

.right-starter {
    background-image: url('../images/right-starter.jpg');
}

.left-blood {
    background-image: url('../images/left-blood.jpg');
}

.right-blood {
    background-image: url('../images/right-blood.jpg');
}

.left-latency {
    background-image: url('../images/left-latency.jpg');
}

.right-latency {
    background-image: url('../images/right-latency.jpg');
}

.left-bat {
    background-image: url('../images/left-bat.jpg');
}   

.right-bat {
    background-image: url('../images/right-bat.jpg');
}

.left-sexual {
    background-image: url('../images/left-sexual.jpg');
}

.right-sexual {
    background-image: url('../images/right-sexual.jpg');
}

.left-mother {
    background-image: url('../images/left-mother.jpg');
}

.right-mother {
    background-image: url('../images/right-mother.jpg');
}

.left-animal {
    background-image: url('../images/left-animal.jpg');
}

.right-animal {
    background-image: url('../images/right-animal.jpg');
}

.left-human {
    background-image: url('../images/left-human.jpg');
}

.right-human {
    background-image: url('../images/right-human.jpg');
}

.left-finale {
    background-image: url('../images/left-finale.jpg');
}

.right-finale {
    background-image: url('../images/right-finale.jpg');
}

.hidden {
    display: none;
} 

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: black;
    border: 5px white;
    width: 50%;
    height: 50%;
}

.modal-content > p {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    color: white;
    font-size: 25px;
}