body {
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    padding: 10px;
    width: 90%;
    height: fit-content;
    margin: auto;
    display: flex;
} 

/* header h1 {
    margin: 0;
    color: white;
    font-family: 'Anton', serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 6px rgb(192,192,192)
}

header p {
    color: white;
    font-family: 'Baloo Tammudu 2', serif;
    font-size: 1.75rem;
    margin-top: 2%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgb(192,192,192)
}  */

/* aside div {
    border: 1px solid gray;
    border-radius: 15px;
}

aside p {
    color: white;
    font-family: 'Baloo Tammudu 2', serif;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 6px rgb(192,192,192)
} */

.logo-container {
    margin: auto;
    height: fit-content;
}

.stats-container {
    /* display: flex;
    justify-content: flex-end;
    width: 100%; */
}

.stats-box {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .2);
    margin-left: 20px;
    height: fit-content;
}

.stats {
    border-radius: 5px;
    text-align: center;
}

.card {
    position: relative;
    margin: 0.2rem auto;
    border: 1px solid gray;
    height: 30%;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

p, h5 {
    color: white;
}

.rorschach-logo {
    display: block;
    max-width: 20vw;
    height: auto;
}